<EditForm Model="nuevoGenero" OnValidSubmit="OnValidSubmit">
    <ValidationSummary />
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Nombre</label>
        <div>
            <InputText @bind-Value="@nuevoGenero.Nombre" />
            <ValidationMessage For="@(()=> nuevoGenero.Nombre)"></ValidationMessage>
        </div>
    </div>
    <button class="btn btn-success" type="submit">Guardar Cambios</button>

</EditForm>

@code {
    [Parameter] public Genero nuevoGenero { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
