@using System.IO


    @*<div>
        <label>@Label</label>
        <input type="file" accept=".jpg,.jpeg,.gif" @ref="inputElement" @onchange="ImageFileSelected" />
    </div>*@

    @*@code {
        [Parameter] public string Label { get; set; }
        [Parameter] public string ImagenTemporal { get; set; }
        [Parameter] public EventCallback<string> ImagenSeleccionada { get; set; }
        private string imagenBase64;
        ElementReference inputElement;
        async Task ImageFileSelected()
        {
            
               
            
        }
    }*@
